# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data (важно!)
data/.env
data/__pycache__/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
